<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Huerta directa</title>
    <link rel="stylesheet" href="/css/darkindex.css" />
    <link rel="stylesheet" href="/css/stylePrincipal.css" />

    <link rel="icon" type="image/png" href="/images/logo_huerta.png" />
    <!--link para el slider y css del slider-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <link rel="stylesheet" href="/css/slider.css" />
    <!--agregacion para los iconos-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <!--  Animacion al hacer scroll -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <!-- Link para el font -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined"
    />
    <!--Google icons-->
  </head>

  <body>
    <header class="header">
      <div class="menu container1">
        <a href="#" class="logo">Huerta directa</a>
        <input type="checkbox" id="menu" />
        <label for="menu">
          <img src="images/menu.png" class="menu-icon" alt="menu" />
        </label>
        <nav class="navbar">
          <ul class="nav-menu">
            <li class="dropdown">
              <a href="">Log in ▾</a>
              <ul class="dropdown-menu">
                <li>
                  <a th:href="@{/login}">📲 Iniciar Sesion</a>
                </li>
                <li>
                  <a th:href="@{/Dashboardd}">📲 Dashboard</a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="">Servicios ▾</a>
              <ul class="dropdown-menu">
                <li>
                  <a th:href="@{/error404}">🚚 Entrega a domicilio</a>
                </li>
                <li>
                  <a th:href="@{/error404}">📦 Venta al por mayor</a>
                </li>
                <li>
                  <a th:href="@{/error404}">🌱 Asesoría agrícola</a>
                </li>
              </ul>
            </li>
            <li><a href="#categorias">Categorias</a></li>
            <li class="dropdown">
              <a href="">Conocenos ▾</a>
              <ul class="dropdown-menu">
                <li><a th:href="@{/landing}">🔗 Unete</a></li>
                <li>
                  <a th:href="@{/Quienes_somos}">🔎 Quienes somos</a>
                </li>
                <li><a th:href="@{/error500}">🎛️ Contactanos</a></li>
              </ul>
            </li>
            <li><a href="#lista-1">Productos</a></li>
          </ul>
        </nav>
        <div class="agragar_producto">
          <a class="Producto btn-2" th:href="@{/agregar_producto}"
            >Agregar <br />
            Producto</a
          >
        </div>

        <!--carrito-->
        <div th:replace="fragments/carritoProducto :: carritoProducto"></div>

        <!--carrito-->
      </div>
      <div th:replace="fragments/header-context :: header-content"></div>
    </header>
    <section th:replace="fragments/informacion :: information"></section>

    <section th:replace="fragments/oferts :: ofertas"></section>
    <section th:replace="fragments/slider-section :: slider-section"></section>

    <main class="products container1" id="lista-1">
      <h2 data-aos="zoom-in">Productos destacados</h2>

      <!--Aca se hace el each para que itere todos los pruductos-->

      <div class="products-container">
        <!-- Producto 1 -->
        <div
          th:each="producto : ${productos}"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <div class="product">
            <span class="material-symbols-outlined IconProducto">
              favorite
            </span>

            <img
              th:src="@{'/images/productos/' + ${producto.imageProduct}}"
              alt="Imagen de [[${producto.nameProduct}]]"
              width="150"
            />
            <div class="borderImgNombre"></div>

            <div class="product-txt">
              <h3 th:text="${producto.nameProduct}"></h3>
              <div class="ContainerNombreIcon">
                <div class="precioPais">
                  <p
                    class="precio"
                    th:text="${#numbers.formatDecimal(producto.price, 0, 'COMMA', 0, 'POINT')}"
                  ></p>
                  <p class="PaisMoneda">/ COP</p>
                </div>
                <div class="hijoContainerNombreIcon">
                  <span class="material-symbols-outlined start"> star </span>
                  <p class="puntuacion">
                    <span class="calificacion">4.5</span> (40)
                  </p>
                </div>
              </div>

              <div class="btnProducto">
                <a href="#" class="agregar-carrito btn-2 botonIcono"
                  ><span class="material-symbols-outlined iconAgregar">
                    add_shopping_cart
                  </span>
                  Agregar</a
                >
                <a
                  th:href="@{/producto/{id}(id=${producto.idProduct})}"
                  class="btn-2 botonIcono btnInfo"
                  onclick="window.location=this.href; return false;"
                >
                  Info
                  <span class="material-symbols-outlined infoIcon">info</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!--Ctegorias-->
    <section class="categories" id="categorias">
      <div class="container container1 categories__container">
        <div class="categories__left">
          <h1 data-aos="fade-right">Categorias</h1>
          <p data-aos="fade-right" data-aos-delay="200">
            Los productos de mejor calidad y mas frecos del mercado, de la
            granja a tu mesa. Explora tu producto favorito en la cateogoria
            indicada, y descubre los maravillosos precios que maneja el campo
            para tu bolsillo.
          </p>
          <a href="#" class="btn-2" data-aos="fade-right" data-aos-delay="400"
            >Saber más</a
          >
        </div>

        <div class="categories__right">
          <!--primer categoria de productos-->

          <a th:href="@{/Frutas}">
            <article class="category" data-aos="zoom-in" data-aos-delay="100">
              <span class="category__icon green2"
                ><i class="fa-solid fa-apple-whole"></i
              ></span>
              <h5>Frutas</h5>
            </article>
          </a>
          <!--Segunda categoria de productos-->

          <a th:href="@{/VerdurasYHortalizas}">
            <article class="category" data-aos="zoom-in" data-aos-delay="200">
              <span class="category__icon green"
                ><i class="fa-solid fa-carrot"></i
              ></span>
              <h5>Verduras Y hortalizas</h5>
            </article>
          </a>

          <!--tercera categoria de productos-->

          <a th:href="@{/Lacteos}">
            <article class="category" data-aos="zoom-in" data-aos-delay="300">
              <span class="category__icon green2"
                ><i class="fa-solid fa-cow"></i
              ></span>
              <h5>Lacteos</h5>
            </article>
          </a>
          <!--Cuarta categoria de productos-->

          <a th:href="@{/CarnesYl}">
            <article class="category" data-aos="zoom-in" data-aos-delay="100">
              <span class="category__icon green"
                ><i class="fa-solid fa-drumstick-bite"></i
              ></span>
              <h5>Carnes y Proteinas</h5>
            </article>
          </a>
          <!--Quinto categoria de productos-->

          <a th:href="@{/Cereales}">
            <article class="category" data-aos="zoom-in" data-aos-delay="200">
              <span class="category__icon green2"
                ><i class="fa-solid fa-bowl-food"></i
              ></span>
              <h5>Cereales y granos</h5>
            </article>
          </a>
          <!--Sexta categoria de productos-->

          <a th:href="@{/Organicos}">
            <article class="category" data-aos="zoom-in" data-aos-delay="300">
              <span class="category__icon green"
                ><i class="fa-solid fa-cookie"></i
              ></span>
              <h5>Productos organicos</h5>
            </article>
          </a>
          <!--Setmima categoria de productos-->

          <a th:href="@{/MielYDerivados}">
            <article class="category" data-aos="zoom-in" data-aos-delay="100">
              <span class="category__icon green2"
                ><i class="fa-solid fa-plate-wheat"></i
              ></span>
              <h5>Miel y derivados</h5>
            </article>
          </a>
          <!--Octava categoria de productos-->

          <a th:href="@{/BebidasNaturales}">
            <article class="category" data-aos="zoom-in" data-aos-delay="200">
              <span class="category__icon green"
                ><i class="fa-solid fa-glass-water"></i
              ></span>
              <h5>Bebidas naturales</h5>
            </article>
          </a>

          <!--Novena categoria de productos-->

          <a th:href="@{/CajasMixtas}">
            <article class="category" data-aos="zoom-in" data-aos-delay="300">
              <span class="category__icon green2"
                ><i class="fa-solid fa-box-open"></i
              ></span>
              <h5>Cajas mixtas o combos</h5>
            </article>
          </a>
        </div>
      </div>
    </section>
    <div th:replace="fragments/footer :: footer"></div>
    <!-- <footer
      class="footer1"
      style="background-color: #8bc34a; padding: 40px 0; color: white"
    >
      <div
        class="footer_container"
        style="
          max-width: 1200px;
          margin: auto;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          text-align: left;
        "
      >
        <div
          class="content_footer"
          style="flex: 1; min-width: 200px; margin: 10px"
        >
          <h4>Huerta Directa</h4>
          <ul style="list-style: none; padding: 0">
            <li>
              <a href="login/login/pagina.html" style="text-decoration: none"
                >Inicio</a
              >
            </li>
            <li>
              <a
                href="../views/DashBoard/dashboard.html"
                style="text-decoration: none"
                >Servicios</a
              >
            </li>
            <li><a href="#" style="text-decoration: none">Nosotros</a></li>
            <li><a href="#" style="text-decoration: none">Contacto</a></li>
          </ul>
        </div>

        <div style="flex: 1; min-width: 200px; margin: 10px">
          <h4>Soporte</h4>
          <ul style="list-style: none; padding: 0">
            <li>
              <a href="#" style="text-decoration: none">Preguntas frecuentes</a>
            </li>
            <li>
              <a href="#" style="text-decoration: none"
                >Política de privacidad</a
              >
            </li>
            <li>
              <a href="#" style="text-decoration: none"
                >Términos y condiciones</a
              >
            </li>
            <li><a href="#" style="text-decoration: none">Ayuda</a></li>
          </ul>
        </div>

        <div style="flex: 1; min-width: 200px; margin: 10px">
          <h4>Productores</h4>
          <ul style="list-style: none; padding: 0">
            <li>
              <a href="#" style="text-decoration: none">Unirse a la red</a>
            </li>
            <li><a href="#" style="text-decoration: none">Beneficios</a></li>
            <li><a href="#" style="text-decoration: none">Testimonios</a></li>
            <li><a href="#" style="text-decoration: none">Capacitación</a></li>
          </ul>
        </div>

        <div style="flex: 1; min-width: 200px; margin: 10px">
          <h4>Contáctanos</h4>
          <ul style="list-style: none; padding: 0">
            <li>Email: contacto@huertadirecta.com</li>
            <li>Tel: +57 300 000 0000</li>
            <li>WhatsApp</li>
            <li>Redes sociales</li>
          </ul>
        </div>
      </div>
    </footer> -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/JS/script.js"></script>
    <!-- scrit para animaciones al scrollear -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({
        duration: 1000, // duración en ms
        offset: 100, // cuándo se empieza a activar
        once: true, // solo una vez por scroll
      });
    </script>
  </body>
</html>
