<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiénes Somos - Huerta Directa</title>
    <link rel="icon" type="image/png" href="/images/logo_huerta.png" />
    <link rel="stylesheet" href="/css/output.css" />

    <!--font de iconos-->
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
  </head>

  <body class="bg-[#f7efd8] font-sans text-[#333]">
    <!-- HEADER -->
   <div th:replace="fragments/headerQuienesSomos :: headerQuienesSomos"></div>

    <!-- SECCIÓN QUIÉNES SOMOS -->
    <div th:replace="fragments/formQuienesSomos :: formQuienesSomos"></div>

    <!-- SECCIÓN COMENTARIOS -->
   <div th:replace="fragments/foroQuienesSomos :: foroQuienesSomos"></div>

    <div th:replace="fragments/footer :: footer"></div>
  </body>
</html>
