<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <body>
    <!-- FRAGMENT: header-content -->
    <div
      class="header-content max-w-[1200px] my-0 !mx-auto flex"
      th:fragment="header-content"
    >
      <!-- Texto del Header -->
      <div class="header-txt flex-[0_0_50%]">
        <h1 class="text-[#333128] text-[55px] mb-6 leading-none">
          Frutas y verduras
        </h1>
        <p class="text-[#333128] mb-11 text-lg">
          En Huerta Directa, te conectamos con productos campesinos frescos y de
          calidad, cosechados directamente por manos locales. Disfruta de
          alimentos 100% naturales, sin intermediarios y al mejor precio. ¡Comer
          sano y apoyar al campo nunca fue tan fácil!
        </p>
        <a
          th:href="@{/Quienes_somos}"
          class="btn-1 inline-block py-[15px] px-[25px] text-white bg-[#8dc84b] rounded-[50px] capitalize no-underline transition-transform duration-500"
        >
          Informacion
        </a>
      </div>

      <!-- Imagen con efecto flip al hover -->
      <div class="header-img relative z-[1] flex justify-start ml-[100px]">
        <div class="imagen-hover-container">
          <img
            class="front w-[400px]"
            src="images/rigth.png"
            alt="imagen original"
          />
          <img
            class="back w-[400px]"
            src="images/ImagenHover-modified.png"
            alt="imagen al hacer hover"
          />
        </div>
      </div>
    </div>
  </body>
</html>
