<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <body>
    <section th:fragment="ofertas" class="oferts container1">
      <div class="ofert">
        <img src="images/f1.png" alt="" />
        <h3>oferta</h3>
        <p>Premium</p>
      </div>
      <div class="ofert">
        <img src="images/f2.png" alt="" />
        <h3>oferta</h3>
        <p>Premium</p>
      </div>
      <div class="ofert">
        <img src="images/f3.png" alt="" />
        <h3>oferta</h3>
        <p>Premium</p>
      </div>
      <div class="ofert">
        <img src="images/f4.png" alt="" />
        <h3>oferta</h3>
        <p>Premium</p>
      </div>
    </section>
  </body>
</html>
