<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Categoria Verduras y Hortalizas | Huerta directa</title>

    <link rel="stylesheet" href="/CSS/darkindex.css" />
    <link rel="stylesheet" href="/CSS/stylePrincipal.css" />
    <link rel="stylesheet" href="/CSS/styleCategorias.css" />
    <link href="/CSS/output.css" rel="stylesheet" />

    <!--agregacion para los iconos-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <!--  Animacion al hacer scroll -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <!-- Link para el font -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined"
    />

    <link rel="icon" type="image/png" href="/images/logo_huerta.png" />
  </head>

  <body>
    <div class="layout-container">
      <div th:replace="fragments/navPagina :: navPagina"></div>
      <div th:replace="fragments/carritoProducto :: carritoProducto"></div>

      <main class="products container1" id="lista-1">
        <h2 class="TituloCategoria" data-aos="zoom-in">
          Verduras y hortalizas
        </h2>

        <div class="products-container">
          <!-- Producto 1 -->
          <div th:each="producto : ${productos}" data-aos="zoom-in">
            <div class="product">
              <!-- ❤️ Icono favorito -->
              <span class="material-symbols-outlined IconProducto"
                >favorite</span
              >

              <!-- Imagen del producto -->
              <img
                th:src="@{'/images/productos/' + ${producto.imageProduct}}"
                th:alt="${producto.nameProduct}"
                width="150"
              />
              <div class="borderImgNombre"></div>

              <div class="product-txt">
                <!-- Nombre del producto -->
                <h3 th:text="${producto.nameProduct}"></h3>

                <!-- Precio con moneda y rating ⭐ -->
                <div class="ContainerNombreIcon">
                  <div class="precioPais">
                    <p
                      class="precio"
                      th:text="${#numbers.formatDecimal(producto.price, 0, 'COMMA', 0, 'POINT')}"
                    ></p>
                    <p class="PaisMoneda">/ COP</p>
                  </div>
                  <div class="hijoContainerNombreIcon">
                    <span class="material-symbols-outlined start">star</span>
                    <p class="puntuacion">
                      <span class="calificacion">4.5</span> (40)
                    </p>
                  </div>
                </div>

                <!-- Botones con iconos -->
                <div class="btnProducto">
                  <a href="#" class="agregar-carrito btn-2 botonIcono">
                    <span class="material-symbols-outlined iconAgregar"
                      >add_shopping_cart</span
                    >
                    Agregar
                  </a>
                  <a href="#" class="btn-2 botonIcono btnInfo">
                    Info
                    <span class="material-symbols-outlined infoIcon">info</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>

      <div class="flex w-full justify-center items-center bg-[#8bc34a]">
        <div th:replace="fragments/footer :: footer"></div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- scrit para animaciones al scrollear -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({
        duration: 1000, // duración en ms
        offset: 100, // cuándo se empieza a activar
        once: true, // solo una vez por scroll
      });
    </script>
    <script src="/JS/script.js" defer></script>
  </body>
</html>
