<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <body class="">
    <div
      th:fragment="AgregarProducto"
      class="!flex !justify-center !items-center !h-[700px] !bg-[#f7efd8]"
    >
      <div class="w-[1000px] h-[620px] flex">
        <form
          class="!bg-white !w-[700px] !p-6 !rounded-l-xl !shadow-md !border-r !border-gray-800/35"
          action="http://localhost:8085/api/products/create"
          method="POST"
          enctype="multipart/form-data"
        >
          <!-- Título -->
          <div class="!flex !justify-center !mb-4">
            <h2 class="!text-2xl !font-semibold !uppercase !tracking-wide">
              Registro de Producto
            </h2>
          </div>

          <hr class="!border !border-[#8dc84b] !mb-4" />

          <div class="!flex !justify-between !flex-wrap !gap-2 !mb-4">
            <!-- Nombre -->
            <div class="!mb-2 !w-[220px]">
              <label
                for="nombre"
                class="!block !text-sm !font-medium !mb-1 !text-black"
              >
                Nombre del producto:
              </label>

              <input
                type="text"
                id="nombre"
                name="nombre"
                required
                class="!w-full !border !border-[#8dc84b] !rounded-md !px-4 !py-2 !focus:outline-none !focus:border-[#004d00] !focus:ring-2 !focus:ring-[#004d00]/40 !transition-all !text-sm"
              />
            </div>

            <div class="!min-w-[150px]">
              <label
                for="precio"
                class="!block !text-sm !font-medium !mb-1 !text-black"
              >
                Precio:
              </label>
              <input
                type="number"
                id="precio"
                name="precio"
                step="0.01"
                required
                class="!w-full !border !border-[#8dc84b] !rounded-md !px-4 !py-2 !focus:outline-none !focus:border-[#004d00] !focus:ring-2 !focus:ring-[#004d00]/40 !transition-all !text-sm"
              />
            </div>
          </div>

          <hr class="!border !border-[#8dc84b] !mb-4" />

          <!-- Precio, unidad y categoría -->
          <div class="!flex !flex-wrap !gap-4 !mb-4">
            <div class="!flex-1 !min-w-[150px]">
              <label
                for="unidad"
                class="!block !text-sm !font-medium !mb-1 !text-black"
              >
                Unidad de medida:
              </label>

              <select
                id="unidad"
                name="unidad"
                class="!w-full !border !border-[#8dc84b] !rounded-md !px-4 !py-2 !focus:outline-none !focus:border-[#004d00] !focus:ring-2 !focus:ring-[#004d00]/40 !transition-all !text-sm"
              >
                <option value="">Medida</option>
                <option value="kg">Kilogramos (kg)</option>
                <option value="g">Gramos (g)</option>
                <option value="lb">Libras (lb)</option>
                <option value="unidad">Unidad (u)</option>
                <option value="litro">Litros (L)</option>
                <option value="ml">Mililitros (ml)</option>
                <option value="docena">Docena</option>
                <option value="paq">Paquete</option>
                <option value="caja">Caja</option>
                <option value="otro">Otro</option>
              </select>
            </div>

            <div class="!flex-1 !min-w-[150px]">
              <label class="!block !text-sm !font-medium !mb-1 !text-black">
                Categoría:
              </label>

              <select
                class="!w-full !border !border-[#8dc84b] !rounded-md !px-4 !py-2 !focus:outline-none !focus:border-[#004d00] !focus:ring-2 !focus:ring-[#004d00]/40 !transition-all !text-sm"
                name="categoria-producto"
                id="categoria-producto"
              >
                <option value="">Seleccione la categoría</option>
                <option value="frutas">Frutas</option>
                <option value="verduras-hortalizas">
                  Verduras y Hortalizas
                </option>
                <option value="lacteos">Lácteos</option>
                <option value="carnes-proteinas">Carnes y Proteínas</option>
                <option value="cereales-granos">Cereales y Granos</option>
                <option value="legumbres-secas">Legumbres Secas</option>
                <option value="productos-organicos">Productos Orgánicos</option>
                <option value="hierbas-especias">Hierbas y Especias</option>
                <option value="miel-derivados">Miel y Derivados</option>
                <option value="procesados-artesanales">
                  Procesados Artesanales
                </option>
                <option value="bebidas-naturales">Bebidas Naturales</option>
                <option value="plantas-semillas">Plantas y Semillas</option>
                <option value="cajas-combos">Cajas Mixtas o Combos</option>
                <option value="otros">Otros</option>
              </select>
            </div>
          </div>

          <hr class="!border !border-[#8dc84b] !mb-4" />

          <div class="!flex !justify-between !flex-wrap !gap-4 !mb-4">
            <!-- Descripción -->
            <div class="!mb-2 !w-[300px]">
              <label
                for="descripcion"
                class="!block !text-sm !font-medium !mb-1 !text-black"
              >
                Descripción:
              </label>

              <textarea
                id="descripcion"
                name="descripcion"
                rows="4"
                class="!w-full !border !h-[40px] !border-[#8dc84b] !rounded-md !px-4 !py-2 !focus:outline-none !focus:border-[#004d00] !focus:ring-2 !focus:ring-[#004d00]/40 !transition-all !text-sm"
                required
              ></textarea>
            </div>

            <div class="!w-[100px] !min-w-[50px]">
              <label
                for="precio"
                class="!block !text-sm !font-medium !mb-1 !text-black"
              >
                Stock:
              </label>

              <input
                type="number"
                id="precio"
                name="precio"
                step="0.01"
                required
                class="!w-full !border !border-[#8dc84b] !rounded-md !px-4 !py-2 !focus:outline-none !focus:border-[#004d00] !focus:ring-2 !focus:ring-[#004d00]/40 !transition-all !text-sm"
              />
            </div>
          </div>

          <hr class="!border !border-[#8dc84b] !mb-4" />

          <!-- Imagen -->
          <label for="imagen" class="!text-sm !font-medium !text-black">
            Imagen del producto:
          </label>

          <div
            class="!flex !flex-col !items-center !my-2 !flex-wrap !gap-4 !border-4 !border-dashed !border-gray-400 !p-4"
          >
            <input
              type="file"
              id="imagen"
              name="image_product"
              accept="image/*"
              required
              hidden
            />

            <label
              for="imagen"
              class="!bg-[#8dc84b] !w-[250px] !text-white !px-4 !py-2 !rounded-md !font-semibold !cursor-pointer !hover:bg-[#6ca52a] !transition-all"
            >
              📁 Seleccionar imagen
            </label>

            <span id="file-name" class="!text-[#8dc84b] !font-medium !text-sm">
              Ningún archivo seleccionado
            </span>
          </div>

          <!-- Botones -->
          <div class="!flex !justify-between !items-center">
            <a
              th:href="@{/index}"
              class="!relative !flex !items-center !justify-center !gap-5 !bg-[#8dc84b] !hover:bg-[#004d00] !text-white !font-semibold !text-sm !uppercase !tracking-wider !px-8 !py-3 !rounded-md !transition-all"
            >
              <span class="material-symbols-outlined flecha">arrow_back</span>
              Volver
            </a>

            <button
              type="submit"
              class="!relative !flex !items-center !justify-center !gap-5 !bg-[#8dc84b] !hover:bg-[#004d00] !text-white !font-semibold !text-sm !uppercase !tracking-wider !px-8 !py-3 !rounded-md !transition-all"
            >
              Agregar
              <span
                class="material-symbols-outlined !absolute !right-0 !text-white"
              >
                arrow_forward
              </span>
            </button>
          </div>
        </form>

        <div class="!w-[700px] !rounded-r-xl !h-full !bg-[#F9FAFB]">
          <div
            class="!bg-gray-50 !p-8 !flex !flex-col !items-center !justify-center !border-l !border-border-light !lg:min-h-full"
          >
            <h2 class="!text-xl !font-bold !mb-6 !text-text-light">
              PREVISUALIZACIÓN DEL PRODUCTO
            </h2>

            <div
              class="!w-full !max-w-sm !bg-surface-light !rounded-lg !shadow-xl !p-6 !border !border-border-light !space-y-4"
            >
              <div
                id="preview-container"
                class="!w-full !h-48 !bg-gray-200 !rounded-md !flex !items-center !justify-center !overflow-hidden"
              >
                <span
                  class="!material-icons-outlined !text-7xl !text-subtle-text-light"
                >
                  image
                </span>
              </div>

              <h3
                class="!text-xl !font-semibold !text-text-light"
                id="prev-nombre"
              >
                Nombre del Producto
              </h3>

              <p class="!text-sm !text-subtle-text-light" id="prev-descripcion">
                Breve descripción del producto que se mostrará aquí.
              </p>

              <div
                class="!flex !items-center !justify-between !pt-2 !border-t !border-border-light"
              >
                <span
                  class="!text-lg !font-bold !text-primary"
                  id="prev-precio"
                >
                  $2.50
                  <span
                    class="!text-sm !text-text-light !font-normal"
                    id="prev-unidad"
                  >
                    / Unidad
                  </span>
                </span>

                <span
                  class="!text-xs !px-2 !py-1 !bg-lime-100 !text-lime-800 !rounded-full !font-medium"
                  id="prev-categoria"
                >
                  Categoría
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal vista previa -->
      <div
        id="modalVistaPrevia"
        class="!hidden !fixed !inset-0 !bg-black !bg-opacity-50 !z-[9999] !justify-center !items-center"
      >
        <div
          class="!bg-white !p-5 !rounded-2xl !w-[400px] !shadow-xl !animate-[fadeIn_0.3s_ease-in-out]"
        >
          <div class="!text-center !flex !flex-col !items-center">
            <h3 class="!text-xl !font-semibold !mb-3">Vista previa</h3>

            <img
              id="prev-imagen"
              class="!w-[200px] !rounded-lg !mb-4"
              src="../images/ImgenAgregarProducto1.png"
              alt="Vista previa"
            />

            <div class="!text-center !space-y-2 !text-sm">
              <h3 id="prev-nombre" class="!font-semibold !text-lg">
                Nombre del producto
              </h3>
              <p id="prev-precio" class="!text-[#8dc84b] !font-medium">
                Precio $0.00
              </p>
              <p id="prev-unidad">Medida: —</p>
              <p id="prev-categoria">Categoría: —</p>
              <p id="prev-descripcion">Descripción: —</p>
            </div>

            <button
              id="cerrarModal"
              class="!mt-4 !bg-[#8dc84b] !hover:bg-[#004d00] !text-white !px-8 !py-2 !rounded-md !font-semibold !transition-all"
            >
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
