<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agrega tu producto || Huerta Directa</title>
    <link rel="icon" type="image/png" href="/images/logo_huerta.png" />

    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- Iconos de Google (Material Symbols) -->
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />

    <!-- Tailwind CSS -->
    <link href="/CSS/output.css" rel="stylesheet" />
  </head>

  <body
    class="min-h-screen flex flex-col font-[Poppins] bg-[#f7efd8] text-[#333]"
  >
    <!-- Nav -->
    <div th:replace="fragments/navPagina :: navPagina"></div>

    <!-- Contenedor principal -->
    <div
      th:replace="fragments/producto/AgregarProducto :: AgregarProducto"
    ></div>

    <div th:replace="fragments/footer :: footer"></div>

    <script src="/JS/AgregarProducto.js"></script>
  </body>
</html>
