<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <body class="min-h-screen flex flex-col">
    <header
    th:fragment="headerQuienesSomos"
      class="flex items-center justify-between bg-white p-4 shadow-md sticky top-0 z-50 !w-full mx-auto"
    >
      <a
        href="#"
        class="text-[#8dc84b] text-2xl font-semibold uppercase hover:text-[#028602] transition-colors"
        >Huerta Directa</a
      >

      <input type="checkbox" id="menu" class="hidden peer" />

      <label for="menu" class="block md:hidden cursor-pointer">
        <img src="../images/menu.png" alt="menu" class="w-6" />
      </label>

      <nav
        class="hidden md:flex gap-5 peer-checked:flex peer-checked:flex-col absolute md:static top-16 left-0 right-0 bg-white md:bg-transparent p-5 md:p-0 shadow-md md:shadow-none"
      >
        <ul class="flex flex-col md:flex-row gap-4 md:gap-6">
          <li>
            <a
              th:href="@{/}"
              class="text-lg font-semibold hover:text-gray-500 transition-colors"
              >Inicio</a
            >
          </li>
          <li>
            <a
              th:href="@{/login}"
              class="text-lg font-semibold hover:text-gray-500 transition-colors"
              >Iniciar Sesión</a
            >
          </li>
          <li>
            <a
              th:href="@{/#categorias}"
              class="text-lg font-semibold hover:text-gray-500 transition-colors"
              >Categoría</a
            >
          </li>
        </ul>
      </nav>
    </header>
  </body>
</html>
