<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <body>
    
   
    <section class="information container1" th:fragment="information">
      <div class="information-content">
        <div class="information-1">
          <img src="images/i1.svg" alt="" />
          <h3>Venta directa</h3>
          <p>Del campo a tu mesa, sin intermediarios.</p>
        </div>
        <div class="information-1">
          <img src="images/i2.svg" alt="" />
          <h3>Pagos seguros</h3>
          <p>Compra fácil y con confianza.</p>
        </div>
        <div class="information-1">
          <img src="images/i3.svg" alt="" />
          <h3>Entrega a domicilio</h3>
          <p>Recibe fresco y rápido.</p>
        </div>
      </div>
    </section>
  </body>
</html>
