<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <body
    class="m-0 font-[Arial,sans-serif] bg-[#FEF5DC] text-[18px] min-h-screen"
  >
    <!-- Fragmento Navbar -->
    <div th:fragment="navPagina">
      <div
        class=" flex items-center justify-center w-full h-25 gap-40 mx-auto text-[#FEF5DC] "
      >
        <a
          href="#"
          class="!text-[#8dc84b] !no-underline !text-[25px] !font-semibold !uppercase !tracking-[1px] !transition-all !duration-500 !ease-in-out hover:!text-[#028602] hover:!scale-110"
        >
          Huerta directa
        </a>

        <input type="checkbox" id="menu" class="hidden" />

        <nav class="">
          <ul class="!flex">
            <li>
              <a
                th:href="@{/}"
                class="!no-underline !text-[18px] !py-5 !px-5 !block !text-[#333128] !font-semibold !transition-colors !duration-500 hover:!text-[#5aaa37]"
              >
                Inicio
              </a>
            </li>
            <li>
              <a
                th:href="@{/#categorias}"
                class="!no-underline !text-[18px] !py-5 !px-5 !block !text-[#333128] !font-semibold !transition-colors !duration-500 hover:!text-[#5aaa37]"
              >
                Categorías
              </a>
            </li>
            <li>
              <a
                th:href="@{/Quienes_somos}"
                class="!no-underline !text-[18px] !py-5 !px-5 !block !text-[#333128] !font-semibold !transition-colors !duration-500 hover:!text-[#5aaa37]"
              >
                Quiénes somos
              </a>
            </li>
            <li>
              <a
                th:href="@{/#lista-1}"
                class="!no-underline !text-[18px] !py-5 !px-5 !block !text-[#333128] !font-semibold !transition-colors !duration-500 hover:!text-[#5aaa37]"
              >
                Productos
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </body>
</html>
