<!DOCTYPE html>
<html lang="es" >
  <body>
    <div class="profile" th:fragment="profile">
      <div class="flex gap-3">
        <div>
          <button
            type="button"
            onclick="DesplegarProfile()"
            style="
            
              color: white;
              border: none;
              padding: 5px 8px;
              border-radius: 10px;
              font-size: 12px;
              cursor: pointer;
              display: flex;
              align-items: center;

              transition: all 0.3s ease;
              box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            "
          >
            <div class="profile-photo !size-9">
              <img src="/images/logo_huerta.png" alt="Profile" />
            </div>
            <span class="material-symbols-outlined text-2xl text-black">
  keyboard_arrow_down
</span>
          </button>
        </div>
      </div>
      <div id="MostrarInfo" class="dashboarRight flex flex-col absolute top-[60px]  bg-[#dfeece] !p-4 rounded-xl">
        <div class="errorMargindiv">
          <header>
           <img class="size-10" src="/images/logo_huerta.png" alt="Profile" />

          </header>
          <p class="errorMargin ">
            Ey,
            <b th:text="${currentUser != null ? currentUser.name : 'Usuario'}"
              >Usuario</b
            >
          </p>
          <small
            class="text-muted !text-[13px]"
            th:text="${userRole != null ? userRole : 'Usuario'}"
            >Usuario</small
          >
        </div>

        <!-- Botón de cerrar sesión -->
        <form action="/api/users/logout" method="post">
          <button
            type="submit"
            class="btn-logout"
            style="
              width: 100%;
              height: 40px !important;
              background: #20571b;
              color: white;
              border: none;
              padding: 5px 8px;
              border-radius: 10px;
              font-size: 12px;
              cursor: pointer;
              display: flex;
              align-items: center;

              transition: all 0.3s ease;
              box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            "
            onmouseover="this.style.background='#20571b'"
            onmouseout="this.style.background='#20571b'"
          >
            <span class="material-symbols-outlined" style="font-size: 14px"
              >logout</span
            >
            Cerrar Sesión
          </button>
        </form>
      </div>
    </div>
  </body>
  
</html>
