<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <body>
    <div class="profile" th:fragment="profile">

      <div class="info">
        <p>
          Ey,
          <b th:text="${currentUser != null ? currentUser.name : 'Usuario'}"
            >Usuario</b
          >
        </p>
        <small
          class="text-muted"
          th:text="${userRole != null ? userRole : 'Usuario'}"
          >Usuario</small
        >
      </div>
       <div class="profile-photo">
        <img src="/images/logo_huerta.png" alt="Profile" />
      </div>

       <!-- Botón de cerrar sesión -->
        <form action="/api/users/logout" method="post" >
          <button
            type="submit"
            class="btn-logout"
            style="
            width: 70px;
            height: 40px !important;
              background: #20571b;
              color: white;
              border: none;
              padding: 5px 8px;
              border-radius: 10px;
              font-size: 12px;
              cursor: pointer;
              display: flex;
              align-items: center;

              transition: all 0.3s ease;
              box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            "
            onmouseover="this.style.background='#20571b'"
            onmouseout="this.style.background='#20571b'"
          >
            <span class="material-symbols-outlined" style="font-size: 14px"
              >logout</span
            >
            Cerrar  Sesión
          </button>
        </form>
    </div>
  </body>
</html>
