<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <body>
    
    <footer th:fragment="footer">
         <section class="slider-section" th:fragment="slider-section">
      <!-- carrusel-jesus,santiago -->
      <div class="slider">
        <div class="container1">
          <div class="wrapper">
            <div class="myslider swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="item">
                    <div class="image object-cover">
                      <img src="images/1.png" alt="" />
                    </div>
                    <div class="text-content flexcol">
                      <h4>Frutas Premium</h4>
                      <h2>
                        <span>Del campo a tu casa</span><br /><strong
                          >Las más frescas del mercado</strong
                        >
                      </h2>
                      <a href="#" class="primary-button">Ver Mas</a>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="item">
                    <div class="image object-cover">
                      <img src="images/pr4.png" alt="" />
                    </div>
                    <div class="text-content flexcol">
                      <h4>Fruta Fresca</h4>
                      <h2>
                        <span>Recién Cosechada</span><br /><strong
                          >Productos de calidad</strong
                        >
                      </h2>
                      <a href="#" class="primary-button">Ver Más</a>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="item">
                    <div class="image object-cover">
                      <img src="images/pr5.png" alt="" />
                    </div>
                    <div class="text-content flexcol">
                      <h4>Frutas seleccionadas</h4>
                      <h2>
                        <span>La mejor cosecha</span><br /><strong
                          >Agro Colombiano
                        </strong>
                      </h2>
                      <a href="#" class="primary-button">Ver Más</a>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="item">
                    <div class="image object-cover">
                      <img src="images/pr6.png" alt="" />
                    </div>
                    <div class="text-content flexcol">
                      <h4>100% con amor</h4>
                      <h2>
                        <span>De la mejor calidad</span><br /><strong
                          >De la huerta, Directo a tu casa</strong
                        >
                      </h2>
                      <a href="#" class="primary-button">Ver Más</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
  </body>
</html>
