<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grafico por categoria -- HUERTA DIRECTA</title>

    <!-- Link para el font -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined"
    />

    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />

    <!-- Enlace al archivo CSS -->
    <link rel="stylesheet" href="/CSS/StyleDashBoardd.css" />
    <link rel="stylesheet" href="/css/output.css" />
    <link rel="icon" type="image/png" href="/images/logo_huerta.png" />
  </head>

  <body>
    <div class="containerActualizarUcuario">
      <div
        th:replace="fragments/DashBoardAdmin/insadeDashBoard :: insadeDashBoard"
      ></div>
      <!-- fin del asside -->
      <main>
        <h1 class="!mt-[20px]">Análisis y gráficos de actividad</h1>

        <div
          class="!flex !justify-center !items-center !gap-20 !my-10 text-xl font-bold !text-black/70"
        >
          <a
            class="tab-link !text-[#8bc34a] !border-b-4 !border-[#88ff002f]"
            href="#"
            data-tab="productos"
          >
            Tus productos
          </a>
          <a class="tab-link" href="#" data-tab="usuarios"> Tus usuarios </a>
          <a class="tab-link" href="#" data-tab="ventas"> Tus ventas </a>
          <a class="" href="#"> Graficos por categorias </a>
        </div>
       <div class="!flex !flex-col xl:!flex-row !gap-10 !w-full">

  <!-- Columna izquierda: gráfico -->
  <div
    class="!flex !flex-col !justify-start !items-start !gap-6 
           !w-full xl:!w-1/2">

    <img
      th:src="@{/graficos/productosPorCategoria.png}"
      alt="Gráfico por categorías"
      class="!w-full 
             !max-w-[400px] sm:!max-w-[500px] md:!max-w-[600px] 
             lg:!max-w-[700px] xl:!max-w-[800px] 
             !mx-auto !h-auto"
    />

    <a
  href="/reportes/categorias/pdf"
  class="!px-5 !py-2 !bg-red-500 hover:!bg-red-600 !text-white !rounded-lg
         !shadow-md !transition-all !duration-300 !flex !items-center 
         !gap-2 !font-semibold !cursor-pointer"
>
  <span class="material-symbols-outlined">picture_as_pdf</span>
  Exportar a PDF
</a>
  </div>

  <!-- Columna derecha: tabla -->
  <div class="!w-full xl:!w-1/2">
    <table
      class="!w-full !table-fixed !bg-white !rounded-xl !overflow-hidden 
             !shadow-lg !border !border-gray-200 !mb-10"
    >
      <thead class="!bg-[#4caf50] !uppercase !text-white !text-left">
        <tr>
          <th class="!px-6 !py-3 !text-sm !font-semibold !w-[40%]">Nombre</th>
          <th class="!px-6 !py-3 !text-sm !font-semibold !w-[40%]">Categoría</th>
          <th class="!px-6 !py-3 !text-sm !font-semibold !w-[20%]">Unidad</th>
        </tr>
      </thead>

      <tbody class="!divide-y !divide-gray-200">
        <tr th:if="${productosCategoria == null || productosCategoria.isEmpty()}">
          <td colspan="3" class="!text-center !py-6 !text-gray-500 !font-medium">
            No se encontraron productos
          </td>
        </tr>

        <tr th:each="p : ${productosCategoria}" 
            class="hover:!bg-gray-200 !transition-all !duration-500">
          <td class="!px-6 !py-3 !text-gray-800" th:text="${p.nameProduct}"></td>
          <td class="!px-6 !py-3 !capitalize !text-gray-800" th:text="${p.category}"></td>
          <td class="!px-6 !py-3 !text-gray-800" th:text="${p.unit}"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



      </main>

      <div class="right">
        <div class="top">
          <div class="theme-toggler">
            <span class="material-symbols-outlined active">light_mode</span>
            <span class="material-symbols-outlined">dark_mode</span>
          </div>
          <div th:replace="fragments/profile :: profile"></div>
        </div>
        <div
          class="recent-updates !border-t !border-black/30 !rounded-xl !px-5"
        >
          <div
            class="!w-full !h-[900px] !bg-white !rounded-xl !flex !flex-col !justify-center !items-center !gap-[9px] !mt-[20px] !p-4 !mb-10"
          >
            <h2 class="!text-center !text-xl !font-bold !px-3">
              Visión general de productos por Categoría
            </h2>
            <div class="!flex !justify-center !items-center !gap-5">
              <article
                class="!flex !flex-col !justify-center !items-center !bg-gray-500/10 !border !border-gray-400 !p-4 !rounded-xl hover:!bg-gray-500/20 !duration-500 !transition-all"
              >
                <p
                  class="!text-[#4CAF50] !text-[20px] !flex !justify-center !items-center"
                >
                  <span class="material-symbols-outlined !mr-2">
                    inventory_2
                  </span>
                  <span th:text="${totalProductos}">1</span>
                </p>
                <h3 class="!text-[13px] !font-semibold">Productos</h3>
              </article>
              <article
                class="!flex !flex-col !justify-center !items-center !bg-gray-500/10 !border !border-gray-400 !p-4 !rounded-xl hover:!bg-gray-500/20 !duration-500 !transition-all"
              >
                <p
                  class="!text-[#4CAF50] !text-[20px] !flex !justify-center !items-center"
                >
                  <span class="material-symbols-outlined !mr-2"> category </span
                  >13
                </p>
                <h3 class="!text-[13px] !font-semibold">Categorias</h3>
              </article>
            </div>
            <hr class="!border !w-[200px]" style="border: 1px solid #4caf50" />
            <!--seccion de el conteo de la categorias-->
            <section class="!flex !flex-col !gap-[9px]">
              <!-- Frutas -->
              <div
                class="!flex !justify-between !items-center !bg-gray-500/10 w-full !border !border-gray-400 !px-4 !py-2 !rounded-xl hover:!bg-gray-500/20 !duration-500"
              >
                <h3 class="!text-[13px] !font-semibold">Frutas</h3>
                <p
                  class="!text-[#4CAF50] !text-[20px] !flex !justify-center !items-center"
                >
                  <span class="material-symbols-outlined">nutrition</span>
                  <span th:text="${datosCategoria['frutas'] ?: 0}">0</span>
                </p>
              </div>

              <!-- Verduras y Hortalizas -->
              <div
                class="!flex !justify-between !items-center !bg-gray-500/10 w-full !border !border-gray-400 !px-4 !py-2 !rounded-xl hover:!bg-gray-500/20 !duration-500"
              >
                <h3 class="!text-[13px] !font-semibold">
                  Verduras y Hortalizas
                </h3>
                <p
                  class="!text-[#4CAF50] !text-[20px] !flex !justify-center !items-center"
                >
                  <span class="material-symbols-outlined">eco</span>
                  <span th:text="${datosCategoria['verduras-hortalizas'] ?: 0}"
                    >0</span
                  >
                </p>
              </div>

              <!-- Lácteos -->
              <div
                class="!flex !justify-between !items-center !bg-gray-500/10 w-full !border !border-gray-400 !px-4 !py-2 !rounded-xl hover:!bg-gray-500/20 !duration-500"
              >
                <h3 class="!text-[13px] !font-semibold">Lácteos</h3>
                <p
                  class="!text-[#4CAF50] !text-[20px] !flex !justify-center !items-center"
                >
                  <span class="material-symbols-outlined">local_cafe</span>
                  <span th:text="${datosCategoria['lacteos'] ?: 0}">0</span>
                </p>
              </div>

              <!-- Carnes y Proteínas -->
              <div
                class="!flex !justify-between !items-center !bg-gray-500/10 w-full !border !border-gray-400 !px-4 !py-2 !rounded-xl hover:!bg-gray-500/20 !duration-500"
              >
                <h3 class="!text-[13px] !font-semibold">Carnes y Proteínas</h3>
                <p
                  class="!text-[#4CAF50] !text-[20px] !flex !justify-center !items-center"
                >
                  <span class="material-symbols-outlined">restaurant</span>
                  <span th:text="${datosCategoria['carnes-proteinas'] ?: 0}"
                    >0</span
                  >
                </p>
              </div>

              <!-- Cereales y Granos -->
              <div
                class="!flex !justify-between !items-center !bg-gray-500/10 w-full !border !border-gray-400 !px-4 !py-2 !rounded-xl hover:!bg-gray-500/20 !duration-500"
              >
                <h3 class="!text-[13px] !font-semibold">Cereales y Granos</h3>
                <p
                  class="!text-[#4CAF50] !text-[20px] !flex !justify-center !items-center"
                >
                  <span class="material-symbols-outlined">grass</span>
                  <span th:text="${datosCategoria['cereales-granos'] ?: 0}"
                    >0</span
                  >
                </p>
              </div>

              <!-- Legumbres Secas -->
              <div
                class="!flex !justify-between !items-center !bg-gray-500/10 w-full !border !border-gray-400 !px-4 !py-2 !rounded-xl hover:!bg-gray-500/20 !duration-500"
              >
                <h3 class="!text-[13px] !font-semibold">Legumbres Secas</h3>
                <p
                  class="!text-[#4CAF50] !text-[20px] !flex !justify-center !items-center"
                >
                  <span class="material-symbols-outlined">spa</span>
                  <span th:text="${datosCategoria['legumbres-secas'] ?: 0}"
                    >0</span
                  >
                </p>
              </div>

              <!-- Productos Orgánicos -->
              <div
                class="!flex !justify-between !items-center !bg-gray-500/10 w-full !border !border-gray-400 !px-4 !py-2 !rounded-xl hover:!bg-gray-500/20 !duration-500"
              >
                <h3 class="!text-[13px] !font-semibold">Productos Orgánicos</h3>
                <p
                  class="!text-[#4CAF50] !text-[20px] !flex !justify-center !items-center"
                >
                  <span class="material-symbols-outlined">compost</span>
                  <span th:text="${datosCategoria['productos-organicos'] ?: 0}"
                    >0</span
                  >
                </p>
              </div>

              <!-- Hierbas y Especias -->
              <div
                class="!flex !justify-between !items-center !bg-gray-500/10 w-full !border !border-gray-400 !px-4 !py-2 !rounded-xl hover:!bg-gray-500/20 !duration-500"
              >
                <h3 class="!text-[13px] !font-semibold">Hierbas y Especias</h3>
                <p
                  class="!text-[#4CAF50] !text-[20px] !flex !justify-center !items-center"
                >
                  <span class="material-symbols-outlined">local_florist</span>
                  <span th:text="${datosCategoria['hierbas-especias'] ?: 0}"
                    >0</span
                  >
                </p>
              </div>

              <!-- Miel y Derivados -->
              <div
                class="!flex !justify-between !items-center !bg-gray-500/10 w-full !border !border-gray-400 !px-4 !py-2 !rounded-xl hover:!bg-gray-500/20 !duration-500"
              >
                <h3 class="!text-[13px] !font-semibold">Miel y Derivados</h3>
                <p
                  class="!text-[#4CAF50] !text-[20px] !flex !justify-center !items-center"
                >
                  <span class="material-symbols-outlined"
                    >emoji_food_beverage</span
                  >
                  <span th:text="${datosCategoria['miel-derivados'] ?: 0}"
                    >0</span
                  >
                </p>
              </div>

              <!-- Procesados Artesanales -->
              <div
                class="!flex !justify-between !items-center !bg-gray-500/10 w-full !border !border-gray-400 !px-4 !py-2 !rounded-xl hover:!bg-gray-500/20 !duration-500"
              >
                <h3 class="!text-[13px] !font-semibold">
                  Procesados Artesanales
                </h3>
                <p
                  class="!text-[#4CAF50] !text-[20px] !flex !justify-center !items-center"
                >
                  <span class="material-symbols-outlined">bakery_dining</span>
                  <span
                    th:text="${datosCategoria['procesados-artesanales'] ?: 0}"
                    >0</span
                  >
                </p>
              </div>

              <!-- Bebidas Naturales -->
              <div
                class="!flex !justify-between !items-center !bg-gray-500/10 w-full !border !border-gray-400 !px-4 !py-2 !rounded-xl hover:!bg-gray-500/20 !duration-500"
              >
                <h3 class="!text-[13px] !font-semibold">Bebidas Naturales</h3>
                <p
                  class="!text-[#4CAF50] !text-[20px] !flex !justify-center !items-center"
                >
                  <span class="material-symbols-outlined">local_drink</span>
                  <span th:text="${datosCategoria['bebidas-naturales'] ?: 0}"
                    >0</span
                  >
                </p>
              </div>

              <!-- Plantas y Semillas -->
              <div
                class="!flex !justify-between !items-center !bg-gray-500/10 w-full !border !border-gray-400 !px-4 !py-2 !rounded-xl hover:!bg-gray-500/20 !duration-500"
              >
                <h3 class="!text-[13px] !font-semibold">Plantas y Semillas</h3>
                <p
                  class="!text-[#4CAF50] !text-[20px] !flex !justify-center !items-center"
                >
                  <span class="material-symbols-outlined">yard</span>
                  <span th:text="${datosCategoria['plantas-semillas'] ?: 0}"
                    >0</span
                  >
                </p>
              </div>

              <!-- Cajas Mixtas o Combos -->
              <div
                class="!flex !justify-between !items-center !bg-gray-500/10 w-full !border !border-gray-400 !px-4 !py-2 !rounded-xl hover:!bg-gray-500/20 !duration-500"
              >
                <h3 class="!text-[13px] !font-semibold">
                  Cajas Mixtas o Combos
                </h3>
                <p
                  class="!text-[#4CAF50] !text-[20px] !flex !justify-center !items-center"
                >
                  <span class="material-symbols-outlined">inventory_2</span>
                  <span th:text="${datosCategoria['cajas-combos'] ?: 0}"
                    >0</span
                  >
                </p>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>

    <script src="/JS/dashboard.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
</html>
